@import "../../mics/predpro/style";
@import '../../../../node_modules/bootstrap/dist/css/bootstrap.css';
@import '../../../../node_modules/node-waves/dist/waves.min.css';
@import '../../../../node_modules/jquery-ui-bundle/jquery-ui.css';
@import "./components/media";
@import "./open-iconic";
@import "./components/dashboard";
@import '../../../../node_modules/bootstrap-select/sass/bootstrap-select';

html {

}

.bulpForm {
    .language_grup_hid {
        padding: 0;
        border: none;
    }

    .language_grup {
        box-shadow: none;
    }
}

.autocheck {
    margin-top: 0.5rem;
}

.nav-link {
    display: block;
    padding: 0.55rem 1rem;
    font-size: 15px;
}

.sidebar .nav-link {
    color: #76838f;
}

.sidebar-sticky {
    display: flex;
    flex-direction: column;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, 0.25);
    padding-top: 0;
}

.debag_bg {
    border: 1px solid #ccc;
    border-width: 1px 0 1px 0px;
    padding: 1rem 0;
    margin-bottom: 0rem;
    border-bottom: none;
    margin-top: 1rem;
}


.db_head {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: #676767;
    text-transform: capitalize;
}

body {
    //   background-color: #6c757d;
    background-image: url(/public/media/admin/img/bg2.png);
    background-position: center center;
    background-size: 80px;
}

main {
    position: relative;
    z-index: 2;
}

td.fitwidth {
    width: 1px;
    white-space: nowrap;
    //padding-right: 5rem;
    padding-right: 1rem;

    &-mini {
        padding-right: 0rem;
    }
}

.table-striped tbody tr {
    cursor: pointer;
}


.table {
    background-color: #fff;
}

.table-bordered thead th, .table-bordered thead td {
    border-bottom-width: 1px;
}

.table-bordered th {
    font-weight: 600;
}

.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.005);
}

.table-striped tbody tr:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.nav-dropmenu {
    display: none;

    li {
        padding-left: 1rem;
    }
}

.nav-item.active {
    .nav-dropmenu {
        display: block;
    }
}


.bulpForm {
    .logo {
        a {
            font-size: 36px;
            display: block;
            width: 100%;
            text-align: center;
            color: #fff;
        }

        margin-bottom: 2rem;
    }

    &_body {
        background: #fff;
        min-height: 50px;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
        position: relative;

        &_head {
            width: 100%;
            text-align: center;
            padding: 1.8rem 0;
        }

        &_form {
            padding: 0 1.4rem;
            padding-bottom: 1.4rem;
        }
    }

    width: 500px;
    max-width: 100%;
    margin: auto;
    margin-top: 10rem;
}

.autocheck {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.navlink {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: 1.6rem;
}

.autocheck {
    .form-check {
        padding-left: 0;
    }
}

h2.msg {
    font-size: 21px;
    margin-bottom: -1rem;
    margin-top: -0.5rem;
}

.filbox {
    position: relative;
}

.boxsinvs {
    position: absolute;
    right: 5px;
    top: 50%;
    width: 100px;
    height: 28px;
    transform: translateY(-50%);
    box-sizing: border-box;
}


.filecontrols {
    display: none;


}

.boxLImaege {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #e2e2e2;
    border-radius: 15px;

    &.active {
        background-color: #00e000;
        color: #fff;
    }
}

.sidebar {
    background: #353d47;
    background: linear-gradient(45deg, #353d47, #21292e);
}

.sidebar, .navbar-brand {
    width: 250px;
}

.navbar-brand {
    padding-left: 1rem;
}

.navbar {
    display: none;
    @include sm-block() {
        position: relative !important;
        width: 100% !important;
        display: block;
    }
}

[role="main"] {
    margin-left: 250px;
    width: calc(100% - 250px);
    @include sm-block() {
        width: 100%;
        margin-left: 0;
    }
}

[role="main"] {
    padding-top: 1rem;
}

.sidebar {
    padding-top: 1rem;
    align-items: flex-start;

    &.active {
        @include sm-block() {
            display: block !important;
            padding-top: 4rem;
        }
    }
}


.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    background-color: #f5f5f5;
    border-radius: 4px;
}

.breadcrumb {
    margin-bottom: 10px;
}

.breadcrumb {
    margin-bottom: 0;
    width: 100%;
}

.breadcrumb {
    list-style: none;
    background-color: #fff;
    border-radius: 25px;
    position: relative;
    border: 1px solid #f9f9f9;
    font-size: 12px;
    padding: 1rem 0;
}


.text_bigs {
    font-size: 18px;
    font-weight: bold;
    text-transform: capitalize;
}

.label_control {
    margin-bottom: 1rem;
}

.breadcrumb > .active, .breadcrumb > li {
    font-weight: 400;
}

.breadcrumb > .active {
    color: #58595f;
    line-height: 24px;
}

.breadcrumb > .active {
    color: #777;
}

.breadcrumb li {
    color: #4da7e8;
    cursor: pointer;
    font-weight: 700;
}

.breadcrumb > li {
    display: flex;
    align-items: center;
}

.breadcrumb li + li:before {
    padding: 0 5px;
}

.breadcrumb > li + li:before {
    content: ">";
    position: relative;
    top: 1px;
    margin-right: 3px;
}

.breadcrumb > li + li:before {
    padding: 0 5px;
    color: #ccc;
    content: ">";
}

.language_grup_hid {
    width: 100%;
}


.language_grup {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 2px 10px rgba(0, 0, 0, .05);

    &_box {
        width: 100%;
        transition: 1s;
        display: flex;
        transform: translateX(0%);
        /* transform: translateX(-50%); */
    }
}

.language_grup_hid {
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 1rem;
    box-sizing: border-box;
}

.language_grup_hid {

    &.active {
        display: block;
    }
}

table {
    .language_grup_hid {
        padding: 0;
        background: none;
    }
}

.language_grup_box {
    width: 200%;
    display: flex;
}

.language_grup {

    & + & {
        margin-top: 22px;
    }
}

.language_grup_hid {
    .form-group {
        margin-bottom: 0;
    }
}

.check_forms {
    .language_grup_hid {
        padding: 0;
    }

    .language_grup {
        box-shadow: none;
    }
}

h2, .h2 {
    @include sm-block() {
        font-size: 1.25rem;
    }
}

.langbtn {
    @include sm-block() {
        margin: 1.5rem 0;
    }
}

.btn-group {
    @include sm-block() {
        width: 100%;
        margin-right: 0 !important;
        margin: 1rem 0 !important;
    }
}

.row-fluid, .bootstrap-select {
    @include sm-block() {
        width: 100%;
    }
}
