.btn {
    cursor: pointer;
    outline: 0;
    border: none;
    background: none;

    &-def {
        border-radius: 16px;
        background-color: #c1d6f1;
        padding: 0.2rem 1.8rem;
        @include rem(letter-spacing, -1px);
        font-weight: bold;
        color: #000;
        @include sm-block() {
            padding: 0.5rem 1.8rem;
        }

        &:hover {
        }

        &:active {

        }
    }

    &-slid {
        @include rem(width, 248px);
        @include rem(height, 59px);
        @include rem(border-radius, 29px);
        @include rem(margin-top, 36px);
        @include sm-block() {
            @include rem(width, 340px);
            @include rem(height, 80px);
        }
        color: #ffffff;
        font-weight: 400;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #bad640;
    }

}
