$mapSize: (
    main: ((74:74,35:35, 50:50, 62:62, 65:65, 44:44, 54:54, 100:100), "rem", 18),
);
//1400: ((s120: 72, s24: 16, s48:28), "rem", 18),
//780: ((s120: 96, s48: 36), "rem", 16),
$mainSize: 1920;

@function parseInt($n) {
    /* 2 */
    @return $n / ($n * 0 + 1);
}

@mixin rem($property, $values) {
    $px: (); /* 3 */
    $rem: (); /* 3 */

    @each $value in $values {
        /* 4 */

        @if $value == 0 or $value == auto {
            /* 5 */
            $px: append($px, $value);
            $rem: append($rem, $value);
        } @else {
            $unit: unit($value); /* 6 */
            $val: parseInt($value); /* 6 */

            @if $unit == 'px' {
                /* 7 */
                $px: append($px, $value);
                $rem: append($rem, ($val / 18 + rem));
            }

            @if $unit == 'rem' {
                /* 7 */
                $px: append($px, ($val * 18 + px));
                $rem: append($rem, $value);
            }
        }
    }

    @if $px == $rem {
        /* 8 */
        #{$property}: $px; /* 9 */
    } @else {
        #{$property}: $px; /* 9 */
        #{$property}: $rem; /* 9 */
    }
}


.lang_img{
    width: 1.2rem !important;
    display: flex;
    margin-right: 0.25rem;
}

.prop {


    width: 100%;

    &_img {
        width: 100%;
        position: relative;

        &-50 {
            @include sm-block() {
                padding-top: 140% !important;
            }
        }
        &-44 {
            @include sm-block() {
                padding-top: 75% !important;
            }
        }
        &_src {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-size: cover;
            background-position: center center;
            display: flex;
            flex-direction: column;
        }

        @each $key, $sizeStap in $mapSize {
            @if ($key=="main") {
                @each $stapSize, $size in nth($sizeStap, 1) {

                    &-#{$stapSize} {
                        padding-top: #{$size+"%"};
                    }
                    &-#{$stapSize}vh {
                        padding-top: #{$size+"vh"};
                    }
                }
            } @else {
                @media screen and (max-width: #{$key}px) {
                    @each $stapSize, $size in nth($sizeStap, 1) {
                        &-#{$stapSize} {
                            padding-top: #{$size+"%"};
                        }
                    }
                }
            }
        }

    }
}
