@import "../../mics/predpro/style";
@import "./components/text";
@import "./components/header";
@import "./components/footer";
@import "./components/btn";
@import "./components/prop";
@import "../../../../node_modules/swiper/dist/css/swiper.css";
@import "../../../../node_modules/@fancyapps/fancybox/src/css/core.css";

.container {
    @include rem(width, 1141px);
    max-width: 95%;
    margin: 0 auto;
    @include sm-block() {
        max-width: 90%;
    }


    @include sm-block() {
        max-width: 95%;
    }
}


.slider {
    background-color: #013882;
    background-image: url('/public/media/client/images/bk-pattent.png');
    background-size: 100%;
    background-position: right 3rem center;
    background-repeat: no-repeat;
    position: relative;
    @include sm-block() {
        padding-bottom: 14rem;
    }

    &:after {
        content: '';
        position: absolute;
        @include rem(width, 427px);
        @include rem(height, 608px);
        @include rem(right, 82px);
        bottom: 0;
        background-image: url(/public/media/client/images/woman.png);
        background-size: contain;
        background-position: bottom -2rem center;
        background-repeat: no-repeat;
    }
}

.news-bbox {
    @include rem(margin-top, 48px);

    &_name {

    }
}


.news_single {
    @include rem(margin-top, 23px);

    &_title {
        @include rem(margin-top, 32px);
    }

    &_data {
        @include rem(margin-top, 24px);
    }

    &_content {
        @include rem(margin-top, 42px);
    }
}

.news-flex {
    display: flex;
    flex-wrap: wrap;
    @include rem(margin-top, 40px);
    margin-left: -2.222rem;
}

.news-item {
    width: calc(33% - 2.222rem);
    margin-left: 2.222rem;
    @include rem(margin-bottom, 48px);
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column;

    &_img {

    }

    &_content {
        display: flex;
        flex-direction: column;
        box-sizing: border-box;
        @include rem(padding, 0 20px);
        @include rem(padding-top, 24px);
        @include rem(padding-bottom, 32px);
        flex-grow: 2;

        .text:nth-child(1) {
            font-weight: 600;
            color: #0A0A0A;
        }

        .text:nth-child(2) {
            @include rem(margin-top, 16px);
            @include rem(padding-top, 16px);
            border-top: 1px solid #474747;
            color: #808080;
        }

        .text:last-child {
            @include rem(padding-top, 24px);
            margin-top: auto;
            color: #808080;
        }
    }
}

.con-box {
    column-width: 209px;
    overflow: hidden;
    @include rem(height, 110px);
}
.b-text {
    display: flex;
    align-items: center;
    flex-grow: 2;

    &_main {
        color: #fff;
        @include rem(width, 619px);

        .title {
            @include rem(margin-bottom, 24px);
        }
    }
}

.mb-7 {
    @include rem(margin-bottom, 70px);
}


.compan {
    display: flex;
    flex-wrap: wrap;
    @include rem(margin-top, 60px);

    .title {
        @include rem(margin-top, 15px);
        @include rem(margin-bottom, 34px);
    }

    .content {
        color: #2f3b4c;
    }


    &_img {
        @include rem(width, 527px);
        box-sizing: border-box;
        @include rem(margin-left, 54px);
        @include sm-block() {
            margin-left: 0;
            width: 100%;
        }

    }

    &_text {
        flex-grow: 2;
        box-sizing: border-box;
        width: 20%;
        @include rem(padding, 45px 0);
        @include rem(padding-left, 65px);
        @include rem(padding-right, 37px);
        @include sm-block() {
            padding: 2rem 0;
        }
    }

    &_head {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
    }

    &_foot {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        @include rem(margin-top, 19px);

        &_img {
            @include rem(width, 402px);
            position: relative;
            @include sm-block() {
                width: 100%;
            }

            .prop {
                @include rem(width, 384px);
                @include rem(right, 36px);
                @include rem(margin-right, 18px);
                @include rem(margin-bottom, 42px);
                position: absolute;
                bottom: 0;
                right: 0;
                @include sm-block() {
                    position: relative;
                    width: 100%;
                    right: 0;
                    margin-right: 0;
                    margin-bottom: 1rem;
                }
            }
        }

        &_text {
            border-radius: 10px;
            background-color: #013882;
            width: 50%;
            flex-grow: 2;
            display: flex;
            flex-wrap: wrap;
            @include rem(padding, 42px 50px);
        }
    }
}

.about {
    strong {
        font-weight: bold;
        @include rem(font-size, 18px);
        color: #1F1F1F;
        @include sm-block() {
            @include rem(font-size, 32px);
        }
    }

}

.vacancies {
    @include rem(margin-top, 48px);

    strong {
        font-weight: bold;
        @include rem(font-size, 18px);
        color: #1F1F1F;
        @include sm-block() {
            @include rem(font-size, 32px);
        }
    }

    p {
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
    }

    .text {
        line-height: 145%;
    }

    &-box {
        display: flex;
        flex-wrap: wrap;

        &_text {
            @include rem(width, 641px);
            @include sm-block() {
                width: 100%;
            }
        }

        &_list {
            width: 10%;
            @include rem(padding-left, 44px);
            box-sizing: border-box;
            flex-grow: 2;
            @include sm-block() {
                width: 100%;
                padding-left: 0;
                order: -1;
                margin-bottom: 6rem;
            }
        }
    }


    &-content {

        @include rem(margin-top, 32px);


        line-height: 150%;

        &_main {

        }
    }
}


.vacancies-content ul li {
    list-style-type: disc !important;
}

.vacancies-content ul {
    padding-left: 1rem !important;
}

.vacans-bk {
    background: #ECF2FA;
    @include rem(padding, 40px 0);
}

.number-list {
    width: 33%;
    flex-grow: 2;
    color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    @include sm-block() {
        width: 100%;
        & + & {
            margin-top: 3rem;
        }
    }

    &_head {
        @include rem(margin-bottom, 24px);
        font-weight: 900;

        &.active {
            text-shadow: 0 9px 46px rgba(186, 214, 64, 0.44);
            color: #bad640;
        }

        img {
            @include rem(width, 120px);
        }
    }

    &_text {
        @include rem(width, 190px);
        box-sizing: border-box;
        @include sm-block() {
            @include rem(width, 350px);
        }
    }
}


.services {
    @include rem(padding-top, 101px);
    background-color: #ecf2fa;

    &_head {
        text-align: center;

        .title {
            color: #bad640;
            font-weight: 700;
            text-transform: uppercase;
        }

        .after {
            color: #2f3b4c;
            font-weight: 700;
        }
    }

    &_main {
        display: flex;
        flex-wrap: wrap;
        margin-left: -1.61rem;
        margin-top: -0.61rem;
        @include sm-block() {
            margin-top: 0;
            padding-top: 2rem;
        }
    }

    &_btn {
        display: flex;
        justify-content: center;
        @include rem(margin-top, 24px);

        .btn {
            margin-top: 0;
        }
    }

    &-end {
        @include rem(padding-bottom, 88px);

    }

    &_video {
        @include rem(margin-bottom, -195px);
    }
}

.nav-menu {
    color: #fff;
}

.contacts {
    @include rem(padding-top, 195px);
    background: #fff;
    @include rem(padding-bottom, 75px);

    &_head {

        &_text {
            @include rem(padding-top, 34px);
            @include rem(width, 345px);
            @include sm-block() {
                width: 100%;
            }
        }
    }

    &_pos {
        display: flex;
        flex-wrap: wrap;
        @include rem(padding-top, 106px);

        .services_head {
            text-align: left;
        }
    }

    &_maps {
        @include rem(width, 676px);
        margin-left: auto;
        @include rem(padding-top, 6px);
        @include sm-block() {
            width: 100%;
            padding-top: 4rem;
        }

    }
}


.lang {
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    img {
        @include rem(width, 22px);
        position: relative;
        @include rem(margin-right, 10px);
    }
}


.play_box {
    flex-grow: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    @include rem(padding-bottom, 93px);
    @include rem(padding-left, 75px);
    box-sizing: border-box;

    &_play {
        @include rem(width, 109px);
    }

    &_video {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        visibility: hidden;
        opacity: 0;
        transition: 0.6s;

        iframe {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
        }
    }

    &.active &_video {
        visibility: visible;
        opacity: 1;
    }

    &_text {
        width: 100%;

        &_before {
            color: #bad640;
            font-weight: 700;
            @include rem(margin-top, 75px);
            text-transform: uppercase;
        }

        &_name {
            color: #ffffff;
            font-weight: 700;
            @include rem(width, 537px);
            @include rem(margin-top, 12px);

        }
    }
}

.services-one {
    border-radius: 10px;
    background-color: #ffffff;
    box-sizing: border-box;
    width: calc(50% - 1.61rem);
    margin-left: 1.61rem;
    @include rem(padding, 36px);
    margin-top: 1.61rem;
    position: relative;
    @include sm-block() {
        width: 100%;
        @include rem(padding, 45px 36px);

    }

    &_title {
        font-weight: 700;
        position: relative;
        width: 100%;

        &:before {
            content: '';
            position: absolute;
            left: 0;
            bottom: 0;
            border-radius: 1px;
            background-color: #bad640;
            @include rem(height, 3px);
            @include rem(width, 53px);
        }

        @include rem(padding-bottom, 19px);
        @include rem(margin-bottom, 19px);
    }

    &_text {

    }

    &_number {
        position: absolute;
        bottom: 0;
        @include rem(right, 31px);
        font-weight: 900;
        color: #ecf2fa;

        .text {
            position: relative;
            line-height: 95%;
            top: 0.7rem;
        }
    }

    &.active {
        box-shadow: 0 9px 46px rgba(190, 201, 215, 0.44);
    }
}


.contacts-info {

    &_head {
        font-weight: 700;
        color: #2f3b4c;
    }

    & + & {
        margin-top: 1rem;
        @include sm-block() {
            margin-top: 3rem;
        }
    }
}

.footer {
    @include rem(padding, 25px 10px);
    text-align: center;
    border-top: 1px solid #edf0f3;
    @include sm-block() {
        margin-top: 1rem;
        @include rem(padding, 32px 10px);
    }
}

.vacanci-list {
    display: flex;
    flex-direction: column;

    a {
        @include rem(margin-top, 24px);
        text-decoration-line: underline;
        color: #3C3C3C;
    }
}


.input {

    &_lab {
        @include rem(margin-bottom, 8px);
    }

    &_in {
        @include rem(height, 60px);
        @include rem(width, 324px);
        background: #FFFFFF;
        border: 1px solid #9C9C9C;
        box-sizing: border-box;
        border-radius: 50px;
        outline: 0;
        padding: 1rem;
        box-sizing: border-box;
    }

    & + & {
        @include rem(margin-top, 24px);
    }
}

.list_input {
    @include rem(margin-top, 48px);
    @include rem(margin-bottom, 24px);
}


.about {

    &_head {
        display: flex;
        flex-wrap: wrap;
    }

    ul {
        display: block;
        list-style-type: disc !important;
        list-style: disc !important;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        padding-inline-start: 40px;
    }

    li {
        display: list-item;
        text-align: -webkit-match-parent;

    }

    ul li {
        list-style-type: disc !important;
        list-style: disc !important;
    }

    &_main {
        display: flex;
        flex-direction: column;
        @include rem(padding-top, 42px);

        p:empty {
            padding: 0.5rem 0;
        }
    }

    @include rem(padding-top, 48px);

    &_text {
        @include rem(width, 640px);
        @include sm-block() {
            width: 100%;
        }

        &_name {
            @include rem(padding-bottom, 32px);
            font-weight: 600;
        }

        &_content {
            p:empty {
                padding: 0.5rem 0;
            }
        }
    }

    &_img {
        width: 10%;
        flex-grow: 2;
        @include rem(margin-left, 12px);
        @include sm-block() {
            width: 100%;
            margin-left: 0;
            margin-top: 1.5rem;
        }
    }
}

.file_box {
    position: relative;

    input {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

.model {
    display: none;

    &_main {
        padding: 4rem 2rem;
        border-radius: 1rem;

        .title {
            color: #BAD640;
        }

        &_position {

        }

        &_head {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &_input {
            display: flex;
            flex-direction: column;
            margin-top: 1.5rem;

            textarea {
                max-height: 100px;
                max-width: 100% !important;
                height: 100px;
                max-width: 100%;
                border-radius: 1rem !important;
                margin-top: 1rem !important;
                resize: none;
            }

            input, textarea {
                padding: 0.75rem 1rem;
                border-radius: 10rem;
                border: 1px solid #ccc;
                outline: 0;

                & + input {
                    margin-top: 1rem;
                }
            }
        }

        &_btn {
            margin-top: 0rem;
            display: flex;
            justify-content: center;

            .btn {
                width: auto;
                padding: 0 3rem;
                height: 3rem;
            }
        }
    }
}


html[lang="KZ"] {
    .header_main_desk {
        nav {
            .text-s14 {
                font-size: 0.55rem;
            }
        }
    }
}
